<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Aquapro</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css" th:href="@{/fonts/icomoon/style.css}" media="screen"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" media="screen"/>
    <link rel="stylesheet" href="../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}"/>
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}" media="screen"/>
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css" th:href="@{/css/owl.theme.default.min.css}" media="screen"/>
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css" th:href="@{/css/owl.theme.default.min.css}" media="screen"/>
    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css" th:href="@{/css/jquery.fancybox.min.css}" media="screen"/>
    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css" th:href="@{/css/bootstrap-datepicker.css}" media="screen"/>
    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css" th:href="@{/fonts/flaticon/font/flaticon.css}" media="screen"/>
    <link rel="stylesheet" href="../static/css/aos.css" th:href="@{/css/aos.css}" media="screen"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" media="screen"/>
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    <div class="top-bar py-3 bg-light" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-6 text-left">
            <ul class="social-media">
              <li><a href="https://www.facebook.com/" class="p-2"><span class="icon-facebook"></span></a></li>
              <li><a href="https://twitter.com/?lang=en" class="p-2"><span class="icon-twitter"></span></a></li>
              <li><a href="https://www.instagram.com/?hl=en" class="p-2"><span class="icon-instagram"></span></a></li>
              <li><a href="https://in.linkedin.com/" class="p-2"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-6">
            <p class="mb-0 float-right">
              <span class="mr-3"><a href="tel://#"> <span class="icon-phone mr-2"></span><span class="d-none d-lg-inline-block">+1 234 5678 9101</span></a></span>
              <span><a href="#"><span class="icon-envelope mr-2"></span><span class="d-none d-lg-inline-block">aquapro@gmail.com</span></a></span>
            </p>
            
          </div>
        </div>
      </div> 
    </div>

    <header class="site-navbar py-4 bg-white js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo" ><a th:href="@{/}" class="text-black h2 mb-0">AquaPro </a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a  href="#" th:href="@{/}" class="nav-link">Home</a></li>
                <li><a href="#about-section" class="nav-link">About Us</a></li>
            
                <li><a href="#" th:href="@{/employee}" class="nav-link">Employees</a></li>
               
                <li><a href="#" th:href="@{/addemployee}" class="nav-link">Add Employee</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>
  
    <div class="site-blocks-cover overlay" style="background-image: url(images/hero_2.jpg);" data-aos="fade">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                        
            <div class="row mb-4">
              <div class="col-md-6">
                <h1>We Are The Best Consulting Agency</h1>
                <p class="mb-5">AquaPro is one of the leading Web Design Consultancy Company in India. It provides Web Designing Consultancy Services since its formation in 2004.</p>
                
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>  


    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row align-items-lg-center">
          <div class="col-md-6 mb-5 mb-lg-0 position-relative">
            <img src="images/about_1.jpg" class="img-fluid" alt="Image"/>
            <div class="experience">
              <span class="year">20 years</span>
              <span class="caption">of experience</span>
            </div>
          </div>
          <div class="col-md-5 ml-auto">
            <h3 class="section-sub-title">About Us</h3>
            <h2 class="section-title mb-3">Welcome To AquaPro</h2>
            <p class="mb-4">AquaPro is one of the leading Web Design Consultancy Company in India. It provides Web Designing Consultancy Services since its formation in 2004. AquaPro has team of dedicated Web Design Consultant having many years of experience providing Web Design Consultancy Services to its client across globe.</p>
          </div>
        </div>
      </div>
    </div>


   


    <section class="site-section bg-light" id="contact-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            
            <h2 class="section-title mb-3">Reach Out Us</h2>
          </div>
        </div>
        <div class="row">
    
          <div class="col-md-12 text-center" >
            
            <div class="p-4 mb-3 bg-white" >
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">Ambedkar Colony, Yelahanka, Bangalore - 560064, Karnataka, India</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">aquapro@gmail.com</a></p>

            </div>
            
          </div>
        </div>
      </div>
    </section>

    <a href="#" class="bg-primary py-5 d-block">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md10"><h2 class="text-white">Let's Get Started</h2></div>
        </div>
      </div>  
    </a>
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>AquaPro is one of the leading Web Design Consultancy Company in India. It provides Web Designing Consultancy Services since its formation in 2004.</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2"/>
                <div class="input-group-append">
                  <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
        
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.</p>
       
    
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
  <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.stellar.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.countdown.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.easing.1.3.js}"></script>
  <script type="text/javascript" th:src="@{/js/aos.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.fancybox.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.sticky.js}"></script>
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
    
  </body>
</html>